# Auto detect text files and perform LF normalization
* text=auto
iOS[[:space:]](App)/ClothingSegmentation.mlpackage/Data/com.apple.CoreML/HumanParsingModel.mlmodel filter=lfs diff=lfs merge=lfs -text
