# Xcode
.DS_Store
UserInterfaceState.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build artifacts
build/
DerivedData/
*.ipa
*.app
*.dSYM
*.xcarchive

# Swift Package Manager
/.swiftpm
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/
Carthage/Checkouts
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Xcode Playgrounds
timeline.xctimeline
playground.xcworkspace

# Provisioning
*.mobileprovision
*.
